<h1>Sessions#create</h1>
<p>Find me in app/views/sessions/create.html.erb</p>
<p>Today's Steps: <%= @todays_steps %></p>
<p>Yesterday's Steps: <%= @yesterdays_steps %></p>
<pre><%= JSON.pretty_generate(@info) %></pre>