<%= render 'shared/title', title: 'Article Listing' %>

<%= render 'article', articles: @articles %>

<div class="text-center">
 <%= link_to 'Create New Article', new_article_path, class: "btn btn-primary" %>
</div>
